	Checks: "
-*,
bugprone-*,
cppcoreguidelines-interfaces-global-init,
cppcoreguidelines-no-malloc,
cppcoreguidelines-pro-type-member-init,
cppcoreguidelines-special-member-functions,
clang-analyzer-core.NullDereference,
clang-analyzer-cplusplus.SelfAssignment,
clang-analyzer-optin.cplusplus.VirtualCall,
clang-analyzer-unix.cstring.BadSizeArg,
clang-analyzer-unix.cstring.NullArg,
misc-definitions-in-headers,
misc-non-copyable-objects,
misc-redundant-expression,
misc-throw-by-value-catch-by-reference,
misc-unconventional-assign-operator,
misc-uniqueptr-reset-release,
modernize-avoid-bind,
modernize-deprecated-headers,
modernize-loop-convert,
modernize-redundant-void-arg,
modernize-return-braced-init-list,
modernize-use-auto,
modernize-use-default-member-init,
modernize-use-emplace,
modernize-use-equals-default,
modernize-use-equals-delete,
modernize-use-nullptr,
modernize-use-override,
readability-avoid-const-params-in-decls,
readability-braces-around-statements,
readability-const-return-type,
readability-convert-member-functions-to-static,
readability-container-size-empty,
readability-delete-null-pointer,
readability-deleted-default,
readability-else-after-return,
readability-redundant-control-flow,
readability-redundant-member-init,
readability-redundant-smartptr-get,
readability-redundant-string-cstr,
readability-redundant-string-init,
readability-redundant-string-cstr,
readability-simplify-boolean-expr,
readability-simplify-subscript-expr,
readability-static-accessed-through-instance,
readability-static-definition-in-anonymous-namespace,
readability-string-compare,
readability-uniqueptr-delete-release,
readability-uppercase-literal-suffix,
"

	CheckOptions: [
		{ key: "modernize-use-auto.RemoveStars", value: 1},
		{ key: "modernize-use-emplace.IgnoreImplicitConstructors", value: 1},
		{ key: "modernize-use-default-member-init.UseAssignment", value: 0},
		{ key: "modernize-use-override.IgnoreDestructors", value: 1},
	]
	HeaderFilterRegex: '.*\.h'

