.MySCMServerInfo
.DS_Store
# Xcode
build
build/*
build*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
*.o
Libraries/Radvision/include
Libraries/Radvision/binaries
Libraries/Radvision/libs
!Libraries/Radvision/build
Libraries/Radvision/build/default.mak
Libraries/Linux/Radvision/binaries
Libraries/Linux/Radvision/include
Libraries/Linux/Radvision/libs
!Libraries/Linux/Radvision/build
Libraries/Linux/Radvision/build/default.mak
Libraries/Acme/tscf/test
Libraries/Acme/tscf/bin
Libraries/Linux/jpeg-6b/sci-build
Platform/codecs
Debug
DebugServer
Release
ReleaseServer
Build
ipch
obj
*.suo
*.
*.d
Tests/Test
Tests/Test.cfg
Tests/data
Tests/VideophoneEngineTests.xml
Tests/packages
Tests/.vs
Tests/WindowsTests/test_results.xml
*.slo
*.sdf
*.opensdf
*.ipch
*.lo
*.o
*.obj
*.pdb
.pch

# Compiled Dynamic libraries
.so
*.dylib
*.dll
*.lib

# Qt Creator files
*.user
*.user.*
*.includes

*~

# Generated Documentation
Documentation/Docs

# ntouch VP codec engine files
Platform/ntouch/codecEngine/*/*/.dlls
Platform/ntouch/codecEngine/*/*/.executables
Platform/ntouch/codecEngine/*/*/.libraries
Platform/ntouch/codecEngine/*/*/.libraries,64P
Platform/ntouch/codecEngine/*/*/.xdcenv.mak
Platform/ntouch/codecEngine/*/*/.vers_b150
Platform/ntouch/codecEngine/*/*/.interfaces
Platform/ntouch/codecEngine/*/*/package.mak
Platform/ntouch/codecEngine/codecs/g711/lib/
Platform/ntouch/codecEngine/codecs/g711/package/
Platform/ntouch/codecEngine/codecs/universal_aec/lib/
Platform/ntouch/codecEngine/codecs/universal_aec/package/
Platform/ntouch/codecEngine/codecs/universal_convert/lib/
Platform/ntouch/codecEngine/codecs/universal_convert/package/
Platform/ntouch/codecEngine/lib/ceapi/
Platform/ntouch/codecEngine/servers/codec_server/bin/
Platform/ntouch/codecEngine/servers/codec_server/package/

#Visual Studio Plugins
*.DotSettings
packages.config

#Resharper files
_ReSharper.*

packages.config

#Android Studio Project
Libraries/android/Radvision/.idea/codeStyles/codeStyleConfig.xml
Libraries/android/Radvision/.idea/codeStyles/Project.xml
Libraries/android/Radvision/.idea/encodings.xml
Libraries/android/Radvision/.idea/gradle.xml
Libraries/android/Radvision/.idea/misc.xml
Libraries/android/Radvision/.idea/runConfigurations.xml
Libraries/android/Radvision/.idea/vcs.xml

#Visual Studio Code
*.vscode*
.vs

!Libraries/win32/**
