.MySCMServerInfo
.DS_Store
# Xcode
build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
profile
*.moved-aside
*.o
VideophoneEngine/Libraries
VideophoneEngine/Bsp/codecs
.com.apple.timemachine.supported
UserConfig.swift
*.mobileprovision

# fastlane specific
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output
**/fastlane/README.md
