<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.sorenson.ntouch.background-heartbeat</string>
	</array>
	<key>CADisableMinimumFrameDuration</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIconFiles</key>
	<array/>
	<key>CFBundleIcons</key>
	<dict/>
	<key>CFBundleIcons~ipad</key>
	<dict/>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>ntouch</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string>sbug_icon_color_lg</string>
			<key>CFBundleURLName</key>
			<string>com.sorenson.ntouch.urlgen</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ntouch</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string>sbug_icon_color_lg</string>
			<key>CFBundleURLName</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER).url-scheme.dial</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ntouch</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.sorenson.ntouch</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>svrs</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>pendo</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>pendo-db79f16a</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.social-networking</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LaunchDarklyMobileKeyProd</key>
	<string>mob-14e8211f-fd2d-430d-b472-7afe335b4951</string>
	<key>LaunchDarklyMobileKeyTest</key>
	<string>mob-4d50203a-1ef5-4233-adc1-582464ab8a48</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>For use with Sorenson Pulse device.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>For use with Bluetooth audio devices.</string>
	<key>NSCameraUsageDescription</key>
	<string>For use with video calls.</string>
	<key>NSContactsUsageDescription</key>
	<string>Place calls to device contacts.</string>
	<key>NSLocationUsageDescription</key>
	<string>Performing local searches using Yelp</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>If you need emergency/911 services, ntouch can help send them to your device location.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>For use with VCO and audio calls.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Allows you to choose a photo from your device to set as your personal photo.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Select contact photo from Library.</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>INStartVideoCallIntent</string>
		<string>com.sorenson.ntouch-contact</string>
		<string>com.sorenson.ntouch.call</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>bluetooth-central</string>
		<string>processing</string>
		<string>remote-notification</string>
		<string>voip</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<false/>
	<key>UIInterfaceOrientation</key>
	<string>UIInterfaceOrientationPortrait</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresPersistentWiFi</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>kMDItemKeywords</key>
	<string>Sorenson, ntouch, VRS, ASL, relay, video, call, sign, SignMail</string>
</dict>
</plist>
